!!!5
%html
  %head
    %link{:rel => "stylesheet", :href => "/stylesheets/application.css"}      
    %script{:src => '/javascripts/zepto.js'}
    %script{:src => '/javascripts/application.js'}    
    
  %body
    #status
    .lock
      .e.s0.quer
      .e.s0.hoch1
      .e.s0.ecke1
      .e.s0.ecke2
      .e.s0.hoch2
      .e.s0.koerper
      .f.loch
  

    - if @door.closed?
      .lock.locked
    - else
      .lock.opened